main .banner-container{
    width: 100%;
    height: calc(80vh - 82px);
    background-color: #333333;
    position: relative;
}

main .banner-arrow{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 100%;
    align-items: center;
    top: 0;
    position: absolute;
    width: 100%;
}

main .banner-dots{
    display: flex;
    justify-content: center;
    padding: 0 50px;
    height: 100%;
    align-items: flex-end;
    padding-bottom: 30px;
    top: 0;
    position: absolute;
    width: 100%;
    gap: 10px;
}

main .banner-dots .dot{
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
}

main .regua-vantagem{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    padding: 50px 20px;
    background-color: #C1C1C1;
    flex-direction: row;
}

main .regua-vantagem-item{
    display: flex;
    align-items: center;
    gap: 10px;
}

main .secao-vitrine{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    position: relative;
}

main .secao-vitrine > h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
}

main .secao-vitrine  .secao-vitrine-content {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

main .secao-vitrine  .secao-vitrine-content .produto{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    position: relative;
    background-color: #C7C7C7;
    border-radius: 20px;
    overflow: hidden;
}

main .secao-vitrine  .secao-vitrine-content .produto .produto-image{
    width: 100%;
    height: 250px;
    background-color: #949494;
    border-radius: 20px;
}

main .secao-vitrine  .secao-vitrine-content .produto .produto-informacoes{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .secao-vitrine  .secao-vitrine-content .produto .produto-informacoes h2{
    font-size: 20px;
    font-weight: bold;
}

main .secao-vitrine  .secao-vitrine-content .produto .produto-informacoes p{
    text-align: justify;
    color: #333333;
    font-size: 14px;
}

main .secao-vitrine  .secao-vitrine-content .produto .produto-informacoes .price{
    display: flex;
    flex-direction: column;
}

main .secao-vitrine  .secao-vitrine-content .produto .produto-informacoes .price span:nth-child(1){
    text-decoration: line-through;
    font-size: 14px;
}

main .secao-vitrine  .secao-vitrine-content .produto .produto-informacoes .price span:nth-child(2){
    font-size: 20px;
    font-weight: 600;
}

main .secao-vitrine  .secao-vitrine-content .produto .produto-informacoes a{
    height: 50px;
    max-width: 230px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    font-size: 16px;
    text-transform: uppercase;
    z-index: 10;
}

main .secao-vitrine  .secao-vitrine-content .produto .produto-avaliacao{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    padding: 5px 10px;
    top: 10px;
    left: 15px;
}

main .vitrine-arrow{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    height: 100%;
    align-items: center;
    top: 0;
    position: absolute;
    width: 100%;
}

main .vitrine-dots{
    display: flex;
    justify-content: center;
    padding: 0 50px;
    height: 100%;
    align-items: flex-end;
    padding-bottom: 30px;
    top: 0;
    position: absolute;
    width: 100%;
    gap: 10px;
}

main .vitrine-dots .dot{
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 50%;
}

main .banner-mosaico{
    display: flex;
    padding: 50px 20px;
    justify-content: center;
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
}
main .banner-mosaico .banner-mosaico-container-1{
    width: 100%;
    height: 500px;
}

main .banner-mosaico .banner-mosaico-container-1 .banner-mosaico-img {
    max-width: 700px;
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
}

main .banner-mosaico .banner-mosaico-container-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 500px;
    gap: 20px;
}

main .banner-mosaico .banner-mosaico-container-2 .banner-mosaico-img {
    max-width: 700px;
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
}